.textshadow {
  text-shadow: 6px 4px 4px #000000;
}

.textshadow2 {
  text-shadow: 2px 2px 2px #000000;
}

@keyframes gradientkey {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.gradient {
  background: linear-gradient(90deg, #ffa500, #ff6347);
  background-size: 200% 100%;
  animation: gradientkey 1s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: color 0.3s ease;
}

.gradient:hover {
  color: #fff; /* Change the text color on hover */
}

.button:hover {
  /* Glow effect on hover */
  box-shadow: 0 0 1px #ff8801, 0 0 20px #fa7d00, 0 0 30px #f3b558;
}
